* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  color: #333;
}

main {
  padding: 60px;
  min-height: 500px;
  height: 100vh;
  width: 100%;
}

.columns__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.video__wrapper {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-left: 50px;
  overflow: hidden;
  height: 0px;
}

.video__overlay {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
}

.video__overlay::after {
  background-color: #000000;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M128 104.3v303.4c0 6.4 6.5 10.4 11.7 7.2l240.5-151.7c5.1-3.2 5.1-11.1 0-14.3L139.7 97.2c-5.2-3.3-11.7.7-11.7 7.1z"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 34px;
  border-radius: 10px;
  position: absolute;
  content: '';
  width: 68px;
  height: 48px;
  margin-left: -34px;
  margin-top: -24px;
  left: 50%;
  top: 50%;
}

.video__overlay:hover::after {
  background-color: #f00;
}

.title {
  font-size: 64px;
  font-weight: bold;
  line-height: 90px;
  margin: 0 0 34px;
}

.description {
  font-size: 22px;
  margin-bottom: 40px;
  max-width: 50vw;
  opacity: .8;
}

.call-to-action {
  background-color: #222;
  border-radius: 4px;
  padding: 8px 16px;
  margin-right: 30px;
  display: block;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
}

.credits {
  color: #666666;
}



/* Mobile design */
.is-mobile main {
  height: initial;
  padding: 30px;
}

.is-mobile main.columns__wrapper {
  flex-direction: column-reverse;
}

.is-mobile .columns__wrapper {
  flex-direction: column;
}

.is-mobile .columns__wrapper .column {
  width: 100%;
}

.is-mobile .title {
  font-size: 46px;
  line-height: 62px;
}

.is-mobile .description {
  max-width: initial;
}

.is-mobile .video__wrapper {
  margin-left: 0;
  margin-bottom: 30px;
}

.is-mobile .credits {
  margin-top: 20px;
}